* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3 {
    font-size: 24px;
    color: #666;
    margin: 20px 0px;
}

p {
    font-size: 12px;
}

.top-header {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

.top-header p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header {
    background-color: #EAC926;
}

header div.logo,
.buscar {
    width: 50%;
}

header div.logo {
    padding: 10px;
}

.buscar {
    display: flex;
    align-items: center;
}

.barra {
    border-radius: 5px;
    height: 30px;
}

.submit {
    background-color: #FFF;
    color: #666;
    border-radius: 5px;
    height: 30px;
}

header nav {
    font-size: 12px;
    margin-left: 10px;
    padding-bottom: 20px;
}

header ul li {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: #000;
}

header .form .input {
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

div.burger-menu {
    text-align: center;
}

div.burger-menu i {
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

div.last-visit,
div.offers {
    display: flex;
    flex-wrap: wrap;
}

.price {
    font-size: 18px;
    width: 30%;
}

.discount {
    width: 70%;
}

.discount,
.description {
    font-size: 16px;
    font-weight: normal;
}

.description {
    display: none;
    margin-top: 20px;
    color: #666;
}

section.banner img {
    width: 100%;
}

main {
    width: 90%;
    margin: 0 auto;
}

main section article {
    background-color: #fff;
    margin: 10px 0px;
}

main section article img {
    width: 100%;
}

main section article i,
.discount {
    color: #39b54a;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transform: rotate(0deg);
    transition: transform 0.4s ease-in-out;
}

main section article:hover i {
    transform: rotate(-90deg);
}

article div.main-article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

nav {
    display: none;
}

footer {
    background-color: white;
    border: solid 4px #ebebeb;
}

footer section {
    text-align: center;
}

footer div i {
    font-size: 2em;
    margin-top: 60px;
    margin-bottom: 10px;
    color: #0044AA;
    transition: color 150ms;
}

.copyright {
    margin-top: 60px;
    padding-bottom: 15px;
    margin-left: 25px
}

footer p {
    margin: 0px 50px 0px;
    color: #666;
}

.botón {
    width: 50%;
    font-size: 15px;
    padding: 5px 10px;
    transition: color 450ms;
}

.botón:hover {
    background-color: #0022AA;
    color: #FFF;
    border-radius: 5px;
}

.campo {
    width: 35%;
}

.relleno {
    width: 50%;
    height: 35px;
}

.formulario {
    text-align: center;
}

.mensaje-error {
    font-size: 12px;
    color: red
}

h4 {
    color: #666;
}

@media (min-width: 361px) {
    header .top-header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    main section article .description {
        display: flex;
    }

    main section article {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: box-shadow 500ms;
    }

    main section article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section article .description {
        opacity: 0;
        transition: opacity 500ms;
    }

    main section article:hover .description {
        opacity: 1;
    }

    main section div.products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section div.products article {
        width: 45%;
    }

    .price,
    .discount {
        width: 50%;
    }

    div.burger-menu {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin: 0 5px;
    }
}

@media (min-width: 769px) {
    header .top-header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        max-width: none;
    }

    .barra {
        width: 300px;
    }

    .submit {
        width: 30px;
    }

    main section div.products article {
        width: 22%;
    }

    main section article {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: box-shadow 500ms;
    }

    main section article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section article .description {
        opacity: 0;
        transition: opacity 500ms;
    }

    main section article:hover .description {
        opacity: 1;
    }

    div.burger-menu {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin: 0 20px;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contenedorSection {
        display: flex;
        flex-direction: row;
    }

    .contenedorSection i:hover {
        color: rgb(192, 79, 192);
    }

    .copyright {
        display: flex;
        flex-direction: column;
    }
}